
h2 {
  color: purple;
  font-size: 40;
  font-family: monospace;
  margin-left: 50px;
}

body {
background-image: url("../images/bg.png");
background-repeat: no-repeat;
background-size: cover;
margin-top: 250px;
margin-left: 200px;
}


p{
  margin-left: 100px;
}
