body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS';
}

.Container {
    width: 100%;
    min-width: 500px;
    margin: auto;
}

header {
  width: 100%;
  height: 230px;
  display: flex;
  float:left;
  align-items: center;
}

header span {
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
}


header::after{
  content:'';
  display: table;
  clear: both;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 46.5px;

}

nav li{
  display: inline-block;
  margin-left: 30px;
  position:relative;
}

nav a{
  color: lightblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;

}

nav a:hover{
  color: yellow;
}

nav a::before{
  content:'';
  display:block;
  height:5px;
  width:100%
}

.quote {
        position: relative;
        display: inline-block;
    }
    .quote .Dream-Quote {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    .quote:hover .Dream-Quote {
        display: inline;
    }


.dropdown{
margin-left: 155px;}

        .dropbtn {
          background-color: #62B2FF;
          min-width: 100%;
          color: white;
          padding: 16px;
          font-size: 100px;
          border: none;
        }

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 100%;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        .dropdown-content a {
          color: black;
          padding: 40px 300px;
          font-size: 15px;
          text-align: center;
          text-decoration: none;
          display: block;
        }

        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #3e8e41;}


.content {
    width: 100%;
    padding:10 0px;
    height: 3000px;
    background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
}


footer {
    font-family: 'Trebuchet MS';
    width: 100%;
    height: 80px;
}

.brainguy {
  position: absolute;



}


.main_articles {
    width: 70%;
    float: left;
    height: 650px;
    margin-left: 24px;
    margin-top: 30px;

}

.dream {
  font-weight: bold;
  font-size: 33px;
  background-color:  rgba(2125, 187, 245, 0.2);
}


.side_article {
    width: 25%;
    float: right;
    margin-top: 30px;

}


.siteDescription {
    display: -moz-box; /* Firefox*/
    display: -webkit-box; /* Chrome */
    display: -ms-flexbox; /* IE 10 */
    display: flexbox;
    flex-direction: row;
    flex-align:start;
